<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <style>
        
        .container_about {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        }

        h1,
        h2 {
            color: #000;
        }

        h1,
        h2:hover {
            transform: scaleY(1.2);
            text-shadow: 0 0 15px var(--light-grey)
        }

        a{
            color: darkblue;
        }
    </style>
</head>

<body>
    <div class="container_about">
        <h1>About Me</h1>
        <p>Hello, and welcome to my corner of the internet!</p>
        <p>I'm Suhani Goel, a passionate developer with a love for solving problems and creating innovative solutions.
            My journey into the world of coding started in 2023, and since then, I've been on a continuous path of
            learning, exploring, and growing.</p>

        <h2>My Journey</h2>
        <p>It all began when I wrote my first "Hello, World!" program during my freshman year in college. That simple
            piece of code ignited a spark that has grown into a full-fledged passion for software development.
            Initially, I started with HTML and CSS, creating basic web pages that barely scratched the surface of what
            the web could offer.</p>
        <p>As my curiosity grew, I delved into JavaScript, unlocking the power to make my web pages interactive. I took
            advantage of online courses, coding bootcamps, and tutorials to expand my knowledge. The more I learned, the
            more I wanted to create. This led me to explore various frameworks and libraries, each
            offering unique ways to enhance web functionality and user experience.</p>
        <p>In college, I am working on several projects that is pushing my boundaries. From building responsive websites to developing small web applications during hackathons, I gained hands-on experience in both
            front-end and back-end development. These projects allowed me to apply what I learned in class and see my
            ideas come to life.</p>
        
        <p>Today, I continue to evolve as a developer, always on the lookout for new challenges and opportunities to
            innovate. I'm passionate about staying up-to-date with the latest trends and technologies in web
            development, and I enjoy sharing my knowledge with others through this blog.</p>

        <h2>What I Do</h2>
        <p>Currently, I'm a college student pursuing Bachelors Of technology at A.P.J Abdul Kalam Technical University, where I get to tackle
            exciting challenges and contribute to impactful projects. My areas of expertise include:</p>
        <ul>
            <li>JavaScript (ES6+), HTML5, CSS3</li>
            <li>React</li>
            <li>Node.js, Express</li>
            <li>MongoDB</li>
        </ul>
        <p>I believe in the power of technology to transform lives and drive innovation. Whether it's developing a sleek
            web application, building a robust backend system, or experimenting with the latest tech trends, I approach
            every project with enthusiasm and a commitment to excellence.</p>

        <h2>Why This Blog?</h2>
        <p>I created this blog as a space to share my experiences, insights, and the lessons I am learning along the way.
            Here, you'll find a mix of technical tutorials, personal reflections, project highlights, and tips for
            fellow developers. My hope is to inspire and support others on their own coding journeys, just as many have
            inspired and supported me.</p>

        <h2>Let's Connect!</h2>
        <p>The tech community thrives on collaboration and knowledge-sharing, so don't hesitate to reach out! Whether
            you have a question, a project idea, or just want to chat about all things tech, I'm always open to
            connecting with fellow enthusiasts.</p>
        <p>You can find me on <a href="https://www.linkedin.com/in/suhani-goel-a78537277/" target="_blank">LinkedIn</a>, <a href="https://www.instagram.com/suhani_goel24"
                target="_blank">Instagram</a>, or <a href="https://github.com/suhanigoel24" target="_blank">GitHub</a> or drop me an email at
            <a href="mailto:suhanigoel03@gmail.com">suhanigoel03@gmail.com</a>.
        </p>
        <p>Thanks for stopping by, and happy coding!</p>
    </div>
</body>

</html>